{% extends 'web/base.html' %}
{% block title %}Inicio{% endblock%}

{% block socials %}
<div class="social-links">
    {% for social in social_media %}
        <a href="{{ social.social_url }}" class="{{social.name}}"  target="_blank" ><i class="{{social.icon}}"></i></a>    
    {% endfor %}
        
    {% comment %}
    <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
    <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
    <a href="#" class="google-plus"><i class="icofont-skype"></i></a>
    <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
    {% endcomment %}
</div>
{% endblock %}


{% block extra_js %}
<script text="text/javascript">
    new TypeIt("#element", {
        strings: 'Programacion',
        speed: 120,
        startDelay: 350,
        loopDelay: 1000,
        loop: true,
    }).go();
</script>
{% endblock %}