{% extends 'dashboard/base.html' %}
{% load static%}
{% block title_page %}Dashboard &mdash; Proyectos {% endblock %}
{% block title %}Proyectos{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" onclick="abrir_modal('#popup','{% url 'dash:portfolio_create' %}');"
                        class="btn btn-primary mb-3 btn-lg mb-3"
                >Agregar <i class="fa fa-plus"></i>
                </button>
                <div class="col-12">
                    <table id="tablePortfolio" class="table table-striped first display responsive datatablem text-center" cellspacing="0"  style="width:100%">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">TITULO</th>
                                <th scope="col">SUBTITULO</th>
                                <th scope="col">CLIENTE</th>
                                <th scope="col">DESCRIPCION</th>
                                <th scope="col">PROJECTO URL</th>
                                <th scope="col">FILTRO</th>
                                <th scope="col">OPCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js%}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script src="{% static 'dashboard/assets/ajax/functions_category.js' %}"></script>
<script text="text/javascript">
var url_portfolio = '{% url 'dash:portfolio' %}';
var table_portfolio = $('#tablePortfolio').DataTable({
        "aProcessing":true,
        "responsive":true,
        "destroy": false,
        "searching": false,
        "aServerSide":true,
        "info": false,
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningun dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "<span class='fa fa-angle-double-left'></span>",
                "sLast": "<span class='fa fa-angle-double-right'></span>",
                "sNext": "<span class='fa fa-angle-right'></span>",
                "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "ajax":{
            "url" :url_portfolio+"json",
            "dataSrc":""
        },
        "columns":[
            {"data":"id_portfolio"},
            {"data":"title"},
            {"data":"subtitle"},
            {"data":"client"},
            {"data":"description"},
            {"data":"project_url"},
            {"data":"id_category"},
            {"data":"opciones"}
        ],
        "columnDefs":[
            {
                targets:[7],
                orderable:false,
                render:function(data,type,row){
                    let url_edit = url_portfolio+"edit/"+row.id_portfolio
                    let url_delete = url_portfolio+"delete/"+row.id_portfolio
                    let base_opcion = '<div class="d-flex justify-content-center">'+
                    '<button type="button" onclick=abrir_modal("#popup","'+url_edit+'"); class="close text-primary"><i class="fa fa-edit"></i></button>'+
                    '<button type="button" onclick=abrir_modal("#popup","'+url_delete+'"); class="close text-danger"><i class="fa fa-trash"></i></button>';
                    return base_opcion;
                }

            }
        ], 
        "order":[[0,"desc"]]
    });
</script>
{% endblock %}