{% load widget_tweaks %}
{%  load static %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
            {% if obj %}
            <form id="fntSocialMediaCreate" method="post" role="form" action="{% url 'dash:social_media_edit' obj.pk %}">
                
            {% else %}
            <form id="fntSocialMediaCreate" method="post" role="form" action="{% url 'dash:social_media_create'%}">
            {% endif %}
                {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">
                     <span>
                        {% if obj %}
                        Editar | Red social <i class="fa fa-edit"></i>
                        {% else %}
                        Crear | Red Social <i class="fa fa-plus"></i>
                        {% endif %}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-validate" id="name">
                        {{form.name|attr:'placeholder:nombre'}}
                        <i class="fa fa-check-circle"></i>
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-validate" id="name">
                        {{form.icon|attr:'placeholder:icono'}}
                        <i class="fa fa-check-circle"></i>
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-validate" id="social_url">
                        {{form.social_url|attr:'placeholder:url'}}
                        <i class="fa fa-check-circle"></i>
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">{% if obj %}Guardar <i class="fa fa-save"></i>{% else%} Crear <i class="fa fa-plus"></i>{% endif%}</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'dashboard/assets/ajax/functions_social_media.js' %}"></script>


