{% extends 'web/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Servicios{% endblock%}
{% block content %}
<section id="services" class="services {% if request.path == '/services/' %}section-show{% endif %}">
    <div class="container">
        <div class="section-title">
            <h2>Servicios</h2>
            <p>Mi Servicios</p>
        </div>
        {% if services %}
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="{{service.icon}}"></i></div>
                    <h4><a href="{% url 'web:contact' %}">{{service.title}}</a></h4>
                    <p>{{service.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}
        <div class="mb-3" id="mb-3">
            <div class="text-center">
                <h3>No se han encontrado servicios disponibles</h3>
            </div>
        </div>
        {% endif%}
        <hr>
        <div class="row">
        {% if is_paginated %}
            <div class="mx-auto">
                <ul class="pagination pg-color-border">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    </li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span
                            class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        </div>
    </div>
</section><!-- End Services Section -->
{% endblock %}
