<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}{% endblock%}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'web/assets/img/portafolio.svg'%}">
    <link href="{% static 'web/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="{% static 'web/assets/css/style.css' %}" rel="stylesheet">

</head>

<body id="{% if request.path != '/'%}particles-js{% endif %}">
<div id="{% if request.path == '/'%}particles-js{% endif %}"></div>
<!-- ======= Header ======= -->
{% block header %}
<header id="header" class="header-tops
        {% if request.path == '/contact/' %}
        header-top
        {% elif request.path == '/about/' %}
        header-top
        {% elif request.path == '/resume/' %}
        header-top
        {% elif request.path == '/portfolio/' %}
        header-top
        {% elif request.path == '/services/' %}
        header-top
        {% endif %}">
    <div class="container">
        <h1 ><a href="{% url 'web:home'%}" id="#name-info">Josue Lopez</a></h1>
        <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2>Me gusta la <span id="element"></span></h2>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'web:home'%}">Inicio</a></li>
                <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="{% url 'web:about'%}">Acerca de mi</a></li>
                <li class="{% if request.path == '/resume/' %}active{% endif %}"><a href="{% url 'web:resume'%}">Informacion</a></li>
                <li class="{% if request.path == '/portfolio/' %}active{% endif %}"><a href="{% url 'web:portfolio'%}">Portafolio</a></li>
                <li class="{% if request.path == '/services/' %}active{% endif %}"><a href="{% url 'web:services'%}">Servicios</a></li>
                <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="{% url 'web:contact'%}">Contáctame</a>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
        {% block socials %}
        {% endblock %}
    </div>
</header>
{% endblock %}
<!-- End Header -->

{% block content %}
{% endblock %}

<!-- Vendor JS Files -->
<script src="{% static 'web/assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'web/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'web/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'web/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'web/assets/vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'web/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'web/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'web/assets/vendor/venobox/venobox.min.js' %}"></script>
<!-- Template Main JS File -->
<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
<script src="{% static 'web/assets/libs/particles/particles.js' %}"></script>
<script src="{% static 'web/assets/libs/particles/app.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'web/assets/js/main.js' %}"></script>
{% block extra_js %}
{% endblock%}
</body>
</html>