{% extends 'dashboard/base.html' %}
{% load static%}
{% block title_page %}Dashboard &mdash; Testimonios {% endblock %}
{% block title %}Testimonios{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" onclick="abrir_modal('#popup','{% url 'dash:testimonial_create' %}');"
                        class="btn btn-primary mb-3 btn-lg mb-3"
                >Agregar <i class="fa fa-plus"></i>
                </button>
                <div class="col-12">
                    <table id="tableTestimonial" class="table table-striped first display responsive datatablem text-center" cellspacing="0"  style="width:100%">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">APELLIDOO</th>
                                <th scope="col">COMENTARIOS</th>
                                <th scope="col">OPCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js%}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script src="{% static 'dashboard/assets/ajax/functions_testimonial.js' %}"></script>
<script text="text/javascript">
var url_testimonial = '{% url 'dash:testimonial' %}';
var table_testimonial = $('#tableTestimonial').DataTable({
        "aProcessing":true,
        "responsive":true,
        "destroy": false,
        "searching": false,
        "aServerSide":true,
        "info": false,
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
        },
        "ajax":{
            "url" :url_testimonial+"json",
            "dataSrc":""
        },
        "columns":[
            {"data":"id_testimonial"},
            {"data":"id_client.name"},
            {"data":"id_client.last_name"},
            {"data":"commentary"},
            {"data":"opciones"}
        ],
        "columnDefs":[
            {
                targets:[4],
                orderable:false,
                render:function(data,type,row){
                    let url_edit = url_testimonial+"edit/"+row.id_testimonial
                    let url_delete = url_testimonial+"delete/"+row.id_testimonial
                    let base_opcion = '<div class="d-flex justify-content-center">'+
                    '<button type="button" onclick=abrir_modal("#popup","'+url_edit+'"); class="close text-primary"><i class="fa fa-edit"></i></button>'+
                    '<button type="button" onclick=abrir_modal("#popup","'+url_delete+'"); class="close text-danger"><i class="fa fa-trash"></i></button>';
                    return base_opcion;
                }

            }
        ], 
        "order":[[0,"desc"]]
    });
</script>
{% endblock %}