{% extends 'dashboard/base_delete.html'%}
{% load widget_tweaks %}
{%  load static %}
{% block model_form %}
<form id="fntCategoryDelete" method="POST" role="form"  action="{% url 'dash:category_delete' obj.pk %}">
{% csrf_token %}
{% endblock%}
{% block model_title %}Eliminar Categoria{% endblock%}
{% block model_content %}
<p>
    Desea Eliminar la categoria <strong> {{ obj.name}} </strong>
</p>                
{% endblock %}
{% block button_modal %}
<button type="submit" class="btn btn-danger">Si,Eliminar <i class="fas fa-trash"></i>
</button>   
{% endblock %}
{% block  js_functions %}
<script src="{% static 'dashboard/assets/ajax/functions_category.js' %}"></script>
{% endblock %}    
