{% extends 'dashboard/base_form.html' %}
{% load widget_tweaks %}
{%  load static %}
{% block model_form%}
    <div class="modal-content">
    {% if obj %}
    <form class="needs-validation" id="fntSkillUpdate"
    method="post" role="form" action="{% url 'dash:skill_edit' obj.pk%}" novalidate="">
    {% else %}
    <form class="needs-validation" id="fntSkillCreate" 
    method="post" role="form" action="{% url 'dash:skill_create'%}" novalidate="">
    {% endif %}
    {% csrf_token %}
{% endblock%}

{% block  model_title %}
    {% if obj %}Editar | Habilidad <i class="fa fa-edit"></i>
    {% else %} Crear | Habilidad <i class="fa fa-plus"></i>{% endif%}</span></h5>
{% endblock%}

{% block model_content %}
<div class="form-group">
    <div class="input-group">
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="fa fa-text-height" aria-hidden="true"></i>
            </span>
        </div>
        {%if obj %}
        {{form.name_skill|attr:'placeholder:nombre'|attr:'class:form-control is-valid'}}
        {%else %}
        {{form.name_skill|attr:'placeholder:nombre'}}
        {% endif %}
        <div class="invalid-feedback">
            no puedes dejar el campo vacio
        </div>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="fa fa-percent" aria-hidden="true"></i>
            </span>
        </div>
        {%if obj %}
        {{form.percentage|attr:'placeholder:porcentaje'|attr:'class:form-control is-valid'}}
        {%else %}
        {{form.percentage|attr:'placeholder:porcentaje'}}
        {% endif %}
        <div class="invalid-feedback">
            no puedes dejar el campo vacio
        </div>
    </div>
</div>
{% endblock%}

{% block buttons_form %}
{% if obj %}Guardar <i class="fa fa-save"></i>
{% else%} Crear <i class="fa fa-plus"></i>{% endif%}</button>                    
{% endblock %}

{% block js_functions %}
<script src="{% static 'dashboard/assets/ajax/functions_skill.js' %}"></script>
{% endblock %}