{% extends 'dashboard/base.html' %}
{% load static%}
{% block title_page %}Dashboard &mdash; Resumen {% endblock %}
{% block title %}Resumen{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" onclick="abrir_modal('#popup','{% url 'dash:resume_create' %}');"
                        class="btn btn-primary mb-3 btn-lg mb-3"
                >Agregar <i class="fa fa-plus"></i>
                </button>
                <button type="button" onclick="abrir_modal('#popup','{% url 'dash:resume_detail_create' %}');"
                class="btn btn-info mb-3 btn-lg mb-3"
                >Agregar Detalle <i class="fa fa-plus"></i>
                </button>
                <div class="col-12">
                    <table id="tableResume" class="table table-striped first display responsive datatablem text-center" cellspacing="0"  style="width:100%">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">TITULO</th>
                                <th scope="col">DETALLE SUBTITULO</th>
                                <th scope="col">DETALLE ITEMS TOTALES</th>
                                <th scope="col">OPCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js%}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script src="{% static 'dashboard/assets/ajax/functions_resume.js' %}"></script>
<script text="text/javascript">
var url_resume = '{% url 'dash:resume' %}';
var table_resume = $('#tableResume').DataTable({
        "aProcessing":true,
        "responsive":true,
        "destroy": false,
        "searching": false,
        "aServerSide":true,
        "info": false,
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
        },
        "ajax":{
            "url" :url_resume+"json",
            "dataSrc":""
        },
        "columns":[
            {"data":"id_resume.id_resume"},
            {"data":"id_resume.title"},
            {"data":"title"},
            {"data":"total_items"},
            {"data":"opciones"}
        ],
        "columnDefs":[
            {
                targets:[4],
                orderable:false,
                render:function(data,type,row){
                    let url_edit = url_resume+"edit/"+row.id_resume.id_resume
                    let url_delete = url_resume+"delete/"+row.id_resume.id_resume
                    let url_delete_detail = url_resume+"detail/delete/"+row.id_detail_resume
                    let url_detalle = url_resume+"detail/"+row.id_detail_resume
                    //
                    let base_opcion = '<div class="btn-group d-flex justify-content-center">'+
                    '<a class="close text-info" href="'+url_detalle+'"target="_blank"><i class="fa fa-info-circle"></i></a>'+
                    '<button type="button" onclick=abrir_modal("#popup","'+url_edit+'"); class="close text-primary"><i class="fa fa-edit"></i></button>'+
                    '<button type="button" onclick=abrir_modal("#popup","'+url_delete+'"); class="close text-dark"><i class="fa fa-trash"></i></button>'+
                    '<button type="button" onclick=abrir_modal("#popup","'+url_delete_detail+'"); class="close text-danger"><i class="fa fa-trash"></i></button></div>';
                    return base_opcion;
                }

            }
        ], 
        "order":[[0,"desc"]]
    });
</script>
{% endblock %}