{% load widget_tweaks %}
{%  load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
            <form class="needs-validation" id="fntProfileUpdate" method="post" role="form" action="{% url 'dash:profile'%}" novalidate="">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>
                        Perfil de {{request.user.first_name}} {{request.user.last_name}} 
                        <br>
                        ultimo acceso {{request.user.last_login}}
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-label">Nombre</label>
                        {{form.first_name}}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Apellido</label>
                        {{form.last_name}}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Correo</label>
                        {{form.email}}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Usuario</label>
                        {{form.username}}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Edad</label>
                        {{form.age}}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Ciudad</label>
                        {{form.city}}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Titulo</label>
                        {{form.college_degree}}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Fecha Cumpleaños</label>
                        {% if form.birthday != '' %}
                            {{form.birthday}}
                        {% else %}
                            {{form.birthday|attr:'type:date'}}
                        {% endif %}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Freelance</label>
                        {{form.freelance}}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Sitio Web</label>
                        {{form.website}}
                        <div class="invalid-feedback">
                            no puedes dejar el campo vacio
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Imagen de perfil</label>
                    {{form.image}}
                    <div class="invalid-feedback">
                        no puedes dejar el campo vacio
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Descripcion</label>
                    {{form.note|attr:'rows:2'|attr:'style:margin-top: 0px; margin-bottom: 0px; height: 100px;'}}
                    <div class="invalid-feedback">
                        no puedes dejar el campo vacio
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4 is-valid">
                    Guardar <i class="fa fa-save"></i>
                </button>
            </div>
            <div class="modal-footer">
            </div>
        </form>
    </div>
</div>
<script src="{% static 'dashboard/assets/ajax/functions_profile.js' %}"></script>